(unbuffered) {
	flush_interval -1
}

:8080 {
	handle /mcp {
		reverse_proxy mcp-streamable-http:8000 {
			import unbuffered
		}
	}

	handle /sse* {
		reverse_proxy mcp-sse:8000 {
			import unbuffered
		}
	}

	handle /openapi {
		redir /docs permanent
	}

	handle {
		reverse_proxy openapi:8000 {
			import unbuffered
		}
	}
}
