services:
  openapi:
    image: oaklight/toolregistry-hub-server:latest
    ports:
      - 55093:8000
    environment:
      - API_BEARER_TOKEN=${API_BEARER_TOKEN}
      # - API_BEARER_TOKENS_FILE=${API_BEARER_TOKENS_FILE}
      - SEARXNG_URL=${SEARXNG_URL}
      - BRAVE_API_KEY=${BRAVE_API_KEY}
      - TAVILY_API_KEY=${TAVILY_API_KEY}
      - BRIGHTDATA_API_KEY=${BRIGHTDATA_API_KEY}
      - SCRAPELESS_API_KEY=${SCRAPELESS_API_KEY}
    ## default running in openapi mode
    ## if you want to run in mcp streamable http mode
    # command: ["toolregistry-server", "--host=0.0.0.0", "--port=8000", "--mode=mcp"]
    ## # if you want to run in mcp sse mode
    # command: ["toolregistry-server", "--host=0.0.0.0", "--port=8000", "--mode=mcp", "--mcp-transport=sse"]

  mcp-streamable-http:
    image: oaklight/toolregistry-hub-server:latest
    ports:
      - 55094:8000
    environment:
      - API_BEARER_TOKEN=${API_BEARER_TOKEN}
      - SEARXNG_URL=${SEARXNG_URL}
      - BRAVE_API_KEY=${BRAVE_API_KEY}
      - TAVILY_API_KEY=${TAVILY_API_KEY}
      - BRIGHTDATA_API_KEY=${BRIGHTDATA_API_KEY}
      - SCRAPELESS_API_KEY=${SCRAPELESS_API_KEY}
    command:
      ["toolregistry-server", "--host=0.0.0.0", "--port=8000", "--mode=mcp"]

  mcp-sse:
    image: oaklight/toolregistry-hub-server:latest
    ports:
      - 55095:8000
    environment:
      - API_BEARER_TOKEN=${API_BEARER_TOKEN}
      - SEARXNG_URL=${SEARXNG_URL}
      - BRAVE_API_KEY=${BRAVE_API_KEY}
      - TAVILY_API_KEY=${TAVILY_API_KEY}
      - BRIGHTDATA_API_KEY=${BRIGHTDATA_API_KEY}
      - SCRAPELESS_API_KEY=${SCRAPELESS_API_KEY}
    command:
      [
        "toolregistry-server",
        "--host=0.0.0.0",
        "--port=8000",
        "--mode=mcp",
        "--mcp-transport=sse",
      ]
